html {
	padding: 30px 0 100px 0;
	margin: 0;
	border-top: 70px solid #003580;
	background-color: #fff;
	color: #333;
	font-family: arial, sans-serif;
	font-size: 13px;
	position: relative;
}

body {
	padding: 0;
	margin: 0 auto;
	width: 960px;
}

section {
	margin: 0 0 20px 0;
	clear: both;
}

h1 {
	font-size: 32px;
	color: #0896ff;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	color: #666;
}

/* header */

.header {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.hotel_name {
	margin: 0 0 5px 0;
}

.hotel_address {
	color: #999;
}

.stars {
	color: #feba02;
}

/* photos */

.photos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.photos .one_photo {
	display: inline;
}

.photos .one_photo img {
	margin: 3px;
	width: 80px;
}

.photos .viewport {
	margin: 0 auto 10px auto;
	height: 460px;
	width: 840px;
	overflow: hidden;
	position: relative;
}

.photos .viewport .slide-title {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: rgba(0,0,0, 0.75);
	color: #fff;
	padding: 5px 10px;
}

.photos .viewport .carusel-prev,
.photos .viewport .carusel-next {
	background: url('/img/carousel-arrows.png');
	position: absolute;
	top: 50%;
	margin-top: -16px;
	height: 33px;
	width: 33px;
	z-index: 999;
}

.photos .viewport .carusel-prev {
	left: 10px;
}

.photos .viewport .carusel-prev:hover {
	background-position: 0px -34px;
}

.photos .viewport .carusel-next {
	right: 10px;
	background-position: -34px 0px;
}

.photos .viewport .carusel-next:hover {
	background-position: -34px -34px;
}

.photos .viewport .play-pause {
	background: url('/img/button-play-pause.png');
	display: block;
	position: absolute;
	z-index: 999;
	top: 5px;
	right: 5px;
	width: 33px;
	height: 33px;
}

.photos .viewport .play-pause.pause {
	background-position: -33px 0px;
}

.photos .viewport .play-pause.pause:hover {
	background-position: -33px -33px;
}

.photos .viewport .play-pause.play {
	background-position: 0px 0px;
}

.photos .viewport .play-pause.play:hover {
	background-position: 0px -33px;
}

.photos .wrapper {
	position: relative;
}

.photos .wrapper img {
	display: block;
	float: left;
}

/* reviews */

.reviews_list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.one_review {
	padding: 10px 10px 10px 100px;
	background-color: #e6edf6;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
	min-height: 60px;
}

.one_review cite:before {
	content: '— ';
}

.review_score {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	background-color: #003580;
	color: #fff;
	text-align: center;
	font-size: 48px;
	border-radius: 5px;
}

.review_content {
	padding: 0;
	margin: 0;
}

.review_content cite {
	display: block;
	margin-top: 5px;
}

/* rooms table */

.button {
	background-color: #0896ff;
	border-radius: 2px solid #fff;
	border: 2px solid #fff;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 3px #666;
	font-size: 13px;
}

.rooms_table {
	width: 100%;
}

.rooms_table th, .rooms_table td {
	padding: 5px;
}

.rooms_table tr:nth-child(2n) {
	background: #e6edf6;
}

.rooms_table th {
	background-color: #003580;
	text-align: left;
	color: #fff;
	font-weight: bold;
	padding: 10px 5px;
}

.rooms_table .room_name {
	font-weight: bold;
}

.rooms_table .room_occupancy {
	text-align: center;
	width: 100px;
}

.rooms_table .room_price {
	text-align: right;
	width: 100px;
}

.rooms_table .room_quantity {
	text-align: center;
	width: 150px;
}

.rooms_table tfoot td {
	padding-top: 10px;
	text-align: right;
}



/* footer */

.footer {
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	background: #003580;	
	margin: 0;
	padding: 30px 0;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Facilities */

.facilities ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.facilities li {
	display: inline-block;
	width: 220px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
}

.facilities li:before {
	content: '✔ ';
	color: #0896ff;
}

.landmarks {
	height: 345px;
	margin: 0 0 20px 0;
}

.landmarks .landmarks_types {
	float: left;
	width: 220px;
	box-sizing: border-box;
	list-style: none;
	height: 300px;
	margin: 0px;
	padding: 0px;
}

.landmarks .lanmarks_types_item {
	font-size: 14px;
	margin: 5px 0px
}

.landmarks .landmark_link {
	line-height: 37px;
	display: block;
	height: 37px;
	margin: 0px 10px 0 0px;
	padding: 0px 10px;
	text-decoration: none;
	color: inherit;
}

.landmarks .landmark_link:hover,
.landmarks .landmark_link.active {
	background: #f5f5f5;
}

.landmarks .landmark_link.active {
	font-style: italic;
}

.landmarks .marker {
	display: inline-block;
	height: 37px;
	width: 32px;
	margin-right: 10px;
	vertical-align: middle;
}

.landmarks .marker.marker_statue {
	background: url('/img/marker_statue.png')
}

.landmarks .marker.marker_cathedral {
	background: url('/img/marker_cathedral.png')
}

.landmarks .marker.marker_palace {
	background: url('/img/marker_palace.png')
}

.landmarks .marker.marker_fountain {
	background: url('/img/marker_fountain.png')
}

.landmarks .landmarks_map {
	float: left;
	height: 300px;
	width: 740px;
}